.miBarraVida {
    background-color: rgb(251, 229, 33);
    width: 80%; 
    height:25px;
    transform: skewX(-25deg);
    font-size: 20px;
    margin-left: 6%;
    margin-top: 10px;  
    text-align: right;      
    color: black;  
    margin-top: 0px; 
}
.miBarraVidaNegativa{
    background-color: rgba(145, 130, 187, 0.959);
    width: 80%; 
    margin-top: 1px;
    height: 25px;
    transform: skewX(-25deg);
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 10px;
    color: black;
}
.miBarraKi{
    background-color: rgb(251, 229, 33);
    width: 80%; 
    height: 25px;
    transform: skewX(-25deg);
    font-size: 20px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}
.miBarraKen{
    height: 20px;
    background-color: rgb(251, 229, 33);
    width: 80%; 
    height: 25px;
    transform: skewX(-25deg);
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
    margin-top: 10px;
    color: black;
}
.brillanteKen {
    background: linear-gradient(45deg, #FFD700,#00FF00,#00FF00,#FFD700);
    background-size: 400% 400%;
    animation: moverBrilloKen 5s linear infinite;
    color: black;
} 
.conten{
    width: 100%;
    height: 100%;  
}
.cardhover :hover{
    transform: scale(1.05);
}
.fondoMisPersonajes{
    background-size: cover;
    background-position: center;
}
.circular{
    border-radius: 50%;
}
.muerto {
    opacity: 0.5;
    background-color: red; 
    border: 15px solid rgb(166, 43, 43);
    transition: opacity 0.3s ease-in-out; 
}
.presentacionUser{
    color: greenyellow;
    opacity: 0.9;
}
.fondoCardUsuarios{
    background-color: black;
}
.bordeCrearPj{
    border: 50px solid black;
}
.centrame{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}
.botonesCollapse{
    padding: 1px;
    margin: 5px;   
}
.fondo{
    background-color: black;
}
.apertura{
    border: blanchedalmond solid 3px;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 0%;   
    justify-content: center;
    align-items: center;
    background-color: black;
}
.imagen {
  width: 100%;
  border-radius: 23%;
  max-height:400px;
  object-fit: cover;
}
.info{
   border: 3px solid white;
   border-radius: 2%;
   width: 100%;
   height: 100%;
   opacity: 0.;
   background-size: cover; 
   background-position: center;
   font-family:'Times New Roman';
   font-size: 16px;
   color:rgb(8, 9, 9);
}
.info::placeholder {
    color: white; 
}
.inputSegundaFicha{
   padding: 0px;
   width: 90%;
   background-color: rgba(31, 31, 30, 0.697);
   color:aliceblue;
   font-size: 16px;
   text-align: center;  
}
.inputSegundaFicha1{
   padding: 0px;
   width: 70%;
   background-color: rgba(31, 31, 30, 0.697);
   color:aliceblue;
   font-size: 16px;
   text-align: center;
   margin-top: 1px;
}
.aptitudesE{
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   gap: 0%;
   background: linear-gradient(to right, #A9A9A9, #4682B4);
   opacity: 0.;
   background-size: cover; 
   background-position: center;
   padding: 2%;
   align-items: center;
   justify-items: center;
   border-radius: 3%;
}
.aptitudesE input{
    font-family: Impact;
    align-self: center;
}
.parejo{
   display: grid;
    grid-template-columns: 40% 40%;
    gap: 5%;
}
.labelParejoIzquierdo{
   margin: 5%;
   margin-bottom: 0%; 
}
.labelParejoDerecho{
   margin: 5%;
   margin-bottom: 0%;
}
.inputParejoIzquierdo{
   margin-left: 5%;
   margin-top: 0%;
   width: 30%;
}
.inputParejoDerecho{
   margin-left: 5%;
   margin-top: 0%;
   width: 30%;
}
.barraParejo{
   display:grid;
   grid-template-columns: 60% 40%;
}
.tronco input:hover{
   color: greenyellow;
   background-color: black;
}
.aptitudesE input:hover{
    color: greenyellow;
    background-color: black;
}
.resultadoR {
    color: chartreuse;
    background-color: rgb(16, 16, 16);
    width: 100px;
    height: 40px;
    margin: 5% auto; 
    text-align: center;
    padding: 10px;
    border-radius: 10%;
    margin-top: 40%;
}
.guardarCambios > button:hover{
    background: linear-gradient(to right, #A9A9A9, #4682B4);
    color:#fff700;
    font-size: 18px;
    font-family: 'Gill Sans';
    border: 3px solid black;
}
.presentacion {
    font-family: 'cursive'; 
    font-size: 22px; 
    color:black;
    opacity: 0.9; 
    background-color:rgba(172, 255, 47, 0.397);
    width: 100%;
    margin-left: 60px;
    border: 3px solid black;
    padding: 30px;
}
.labelHabilidad{
    font-size: 14px;
    font-weight: bold;
}
.inputTronco{
    padding: 1px;   
}
.inputHabilidad{
    padding: 1px;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #add8e6, #ffffff);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
}
main {
    margin-top: 3%;
    flex: 1;
}
footer {
    padding: 15px;
    background-color: black;
    color: #fff;
    margin-top: auto; 
}
.botonBarra{
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5px;
    margin-bottom: 0px;
}
.barraParejo2{
    display:grid;
    grid-template-columns: 20% 20% 20% 40%;
    align-items: center;  
}
.small-input {
    padding: 8px; 
    font-size: 14px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    width: 60px; 
    text-align: center;
    background-color: black;
    color: greenyellow;
}
.fas:hover{
  color: greenyellow;
}
.miBarraVida::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0) 1px, transparent 1px); 
    background-size: calc(100% / var(--numeroDivisionesPos)) 100%; 
}
.miBarraVidaNegativa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0) 1px, transparent 1px); 
    background-size: calc(100% / var(--numeroDivisionesNeg)) 100%; 
}
.miInputF {
    background-color: rgba(16, 16, 18, 0.625);
    color: rgb(246, 241, 241); 
    text-align: center;
    width: 150px; 
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.labelFicha{
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.569);  
    font-size: 20px; 
    width: 80%; 
    background-color: #160505b4;
    color: #fcef77; 
    transition: border 0.3s, box-shadow 0.3s; 
    text-align: center; 
    margin-bottom: 10px;
}
@keyframes moverBrillo {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes moverBrilloRojo {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes moverBrilloKen {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes moverBrilloNeg {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.labelKen{
    font-size: 22px;
    font-family: cursive;
    color: white;
    margin-left: 10%;  
}
.selector{
    margin-left: 60%;
}
.ventajas{
    border: blanchedalmond solid 3px;
    background: linear-gradient(to bottom, #1a1a1a, #4a704a, #91cc52, #c7d3e4);
    border-radius: 10px;
}
.agregar-ventaja {
    background-color: #4a704a;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.nomArma{
    background: linear-gradient(to bottom, #1a1a1a, #4a704a, #91cc52, #c7d3e4);
}
.nombreVentaja{
    width: 70%;
    font-family: cursive;
    margin-left: 10%;
    margin-top: 20px;
    text-align: center;
}
.mi-bodyImagen {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
.contenedor {
    display: flex;
    justify-content: space-between;
}
.izquierda {
    flex: 30%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-left: 10px;
}
.derecha{
    flex: 60%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin-left: 10px;
    margin-top: 20px;
}
.mi-input{
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.569);   
    font-size: 24px; 
    width: 250px; 
    background-color: #160505b4; 
    color: #fcef77; 
    transition: border 0.3s, box-shadow 0.3s;
    text-align: center;
}
.mi-input:focus {
    border: 1px solid #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none;
}
.campo {
    display: block;
    margin-bottom: 10px; 
}
.labelus {
    display: block;
    margin-top: 5px; 
    text-align: center; 
    color: rgb(11, 1, 1);
    font-size: 18px;  
}
.cajaText {
    width: 80%;
    height: 300px; 
    overflow-y: scroll; 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-right: 30px;
    color:rgb(127, 251, 89);
    background-color:rgba(0, 0, 0, 0.702);
}
.resultado{
    width: 100%;
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    color:rgb(127, 251, 89);
    background-color:rgba(0, 0, 0, 0.702);
}
.brillante {
    background: linear-gradient(45deg, #0059ff, #00b7ff, #00ffee, #007bff, #003cffb0);
    background-size: 400% 400%;
    animation: moverBrillo 5s linear infinite;
}
.datosFicha{
    display: flex;
    justify-content: space-between;
    background-color: rgba(4, 4, 4, 0.625);
    color: rgb(236, 229, 229); /* Color de texto oscuro */
    width: 90%; 
    font-size: 17px;
    margin-top: 40px;
}
.izquierdaChar{
    flex: 50%;
    display: flex; 
    flex-direction: column; 
    margin-left: 10px;
}
.derechaChar{
    flex: 50%;
    display: flex; 
    flex-direction: column; 
}
.caracteristicas{
    margin-top: 1px;
    font-size: 15px;
}
.brillanteRojo {
    background: linear-gradient(45deg, #ff0000, #ff2200, rgba(255, 132, 0, 0.965), #ff2200, #ff0000,#ff0000 );
    background-size: 400% 400%;
    animation: moverBrilloRojo 5s linear infinite;
    text-align: right; 
}
.brillanteKen {
    background: linear-gradient(45deg, #FFD700,#00FF00,#00FF00,#FFD700);
    background-size: 400% 400%;
    animation: moverBrilloKen 5s linear infinite;
}
.brillanteNegativa {
    background: linear-gradient(45deg, rgba(145, 130, 187, 0.5), rgba(145, 130, 187, 0.959), rgba(138, 43, 226, 0.8), rgba(138, 43, 226, 0.8), rgba(145, 130, 187, 0.959));
    background-size: 400% 400%;
    animation: moverBrilloNeg 5s linear infinite;
    text-align: right;
}
.conten{
    width: 100%;
    height: 100%;  
}
.labels{
   margin-bottom: 0px;
   margin-top: 0px;
   padding: 0px;
}
.inputSegundaFicha1{ 
   padding: 0px;
   width: 70%;
   background-color: rgba(31, 31, 30, 0.697);
   color:aliceblue;
   font-size: 20px;
   text-align: center;
   margin-top: 1px;
}
.inputSegundaFicha2{
   padding: 0px;
   width: 20%;
   background-color: rgba(31, 31, 30, 0.697);
   color:aliceblue;
   font-size: 20px;
   text-align: center;
   margin-bottom: 0px;
}
.aptitudes{
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    align-items: center;
    justify-items: center;
    gap: 0%;
}
.aptitudes > div{
    width: 50%;  
}
.aptitudesE > div{
    width: 50%;    
}
.barras{
    border: blanchedalmond solid 3px;
    width: 100%;
    height: 100%;
    background-color:rgb(16, 16, 16);  
}
.botonBarra{
   margin-top: 0px;
   margin-left: 5%;
   margin-right: 5px;
   margin-bottom: 0px;
}
.labelParejoIzquierdo{
   margin: 5%;
   margin-bottom: 0%; 
}
.labelParejoDerecho{
   margin: 5%;
   margin-bottom: 0%;
}
.inputParejoIzquierdo{
   margin-left: 5%;
   margin-top: 0%;
   width: 30%;
}
.inputParejoDerecho{
   margin-left: 5%;
   margin-top: 0%;
   width: 30%;
}
.tronco{
   display: grid;
   grid-template-columns: 12% 12% 76%;
   gap: 1%;
   background: linear-gradient(to right, #0e5366, #4CAF50, #a2c0d3);
   opacity: 0.9;
   background-size: cover; 
   background-position: center;
   padding: 2%;
   border: blanchedalmond solid 3px;
   align-items: center;
}
.tronco input{
    width: 60%;
    text-align: center;
    font-family: 'Impact';
}
.tronco label{
    text-align: center;
}
.cardInicio{
    font-family:cursive;
    font-size: 16px;
    background: linear-gradient(to right, #0e5366, #7acba5, #a2c0d3);
    border: 15px solid rgb(18, 18, 18);
    opacity: 0.97;
}
.cardhover :hover{
    transform: scale(1.05);
}
.fondoIndex{
    background-size: cover;
    background-position: center;
}
.guardarCambios{
    background: linear-gradient(to right, #A9A9A9, #4682B4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: black;
    color: white;
    font-size: 14px;     
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000; 
}
.muerto:hover{
    opacity: 1;
}
.labelTronco{
    font-size: 14px;
    font-weight: bold;
}
.gru{
    display: grid;
    grid-template-columns: 20% 80%;
}
.margin16{
    margin-top: 16px;
}
.dominios{
    border: blanchedalmond solid 3px;
    background: linear-gradient(to bottom, #1a1a1a, #4a70ab, #c7d3e4);
    border-radius: 10px;
    font-family: cursive;
    color: whitesmoke;    
}
.dominioSelect{
    border: red solid 3px;
    background: linear-gradient(to bottom, #4a70ab, #c7d3e4);
    font-family: cursive;
    color: whitesmoke;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;  
}
.dominioSelect label:hover {
   color: yellow;
   font-size: 18px; 
}
.ventaja {
    display: grid;
    grid-template-columns: 70% 10% 10%; 
    align-items: center;
    gap: 10px; /
}
.nombre-ventaja {
    padding: 5px;
    margin: 10px;
    margin-left: 10%;
    font-family: cursive;
}
.input-coste {
    padding: 5px;  
}
.agregar-ventaja:hover {
    background-color: #3c603c;
}
.btn{
    color: white;
}
.agregar-tecnicaEspecial {
    background-color: #4a704a;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.tecnicaEspecial {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
.nombre-tecnicaEspecial {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: cursive;
    margin-left: 20px;
    background-color: #1a1a1a88;
    color: rgb(255, 230, 0);  
}
.descripcion-tecnicaEspecial {
    width: 100%;
    height: 100px; 
    min-height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical; 
    padding: 20px;
    background-color: #1a1a1a73;
    color: yellow;
}
.sistema-tecnicaEspecial{
    width: 100%;
    height: 100px; 
    margin-bottom: 10px;
    resize: vertical; 
    padding: 20px;
    background-color: #1a1a1a88;
    color: yellow;
}
.coste-tecnicaEspecial,
.tiempoInvo-tecnicaEspecial {
    margin-top: 10px;
    display: block;
    width: 10%;
}
.nombreEliminar{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.eliminar-tecnicaEspecial{
    margin: 0px;
    padding:1%;
    width: 20%;
    margin-left: 80%;
}
.agregar-inventario {
    background-color: #4a704a;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.item-inventario{
    width: 80%;
    margin: 5px;
    font-family: cursive;
    align-content: center;
    text-align: center;
}
.inventariosClass {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inventarios{
    border: blanchedalmond solid 3px;
    background: linear-gradient(135deg, #333333, #666666, #999999);
    border-radius: 10px;
    font-family: cursive;
    text-align: center;
}
.costeVentaja{
    width: 5%;
    align-content: center;
}
.idTecnicaEspecialP{
    color: white;
}
.nombre-nueva-tecnicaEspecial{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: cursive;
    margin-left: 20px;
    background-color: #1a1a1a88;
    color: rgb(255, 230, 0);
}
.descripcion-nueva-tecnicaEspecial{
    width: 100%;
    height: 100px; 
    min-height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical; 
    padding: 20px;
    background-color: #1a1a1a73;
    color: yellow;
}
.sistema-nueva-tecnicaEspecial{
    width: 100%;
    height: 100px; 
    margin-bottom: 10px;
    resize: vertical; 
    padding: 20px;
    background-color: #1a1a1a88;
    color: yellow;
}
.eliminar-nueva-tecnicaEspecial{
    margin: 0px;
    padding:1%;
    width: 20%;
    margin-left: 80%;
}
.consumicionKi {
    width: 150px; 
    height: 40px; 
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 20px; 
    outline: none; 
    transition: border-color 0.3s;
    text-align: center; 
    background-color: #98f5f9;
    color:black;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}






